@use 'ma:utility';
@use 'ma:foundation';

.header-nav {
  &__logo-title {
    font-family: foundation.$font-family-heading;
    font-weight: foundation.$font-weight-extra-bold;
    letter-spacing: -1px;
    font-size: utility.rem(30px);
    white-space: nowrap;

    @include foundation.layout-breakpoint(b-3) {
      font-size: utility.rem(48px);
    }
  }

  &__logo-tagline {
    font-size: utility.rem(18px);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem foundation.layout-spacing(s-2);
    position: relative;

    @include foundation.layout-breakpoint(b-4) {
      padding: 1.5rem foundation.layout-spacing(s-3);
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    display: none;

    @include foundation.layout-breakpoint(b-2) {
      display: flex;
    }

    @include foundation.layout-breakpoint(b-4) {
      gap: 3.75rem;
    }
  }

  &__link {
    font-size: utility.rem(18px);
    font-weight: foundation.$font-weight-semi-bold;

    @include foundation.layout-breakpoint(b-3) {
      font-size: utility.rem(20px);
    }
  }

  &__trigger {
    @include utility.z-layer(layer-2);
    display: block;
    position: relative;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    border-radius: 0.375rem;
    margin-left: auto;
    width: utility.rem(40px);
    height: utility.rem(40px);

    @include foundation.layout-breakpoint(b-2) {
      display: none;
    }

    span {
      background-color: foundation.$color-black;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin: 0 auto;
      transition: 0.2s all ease;
      width: utility.rem(22px);
      height: utility.rem(3px);

      &::before,
      &::after {
        background-color: foundation.$color-black;
        display: block;
        position: absolute;
        right: 0;
        transition: 0.2s all ease;
        content: '';
        width: utility.rem(22px);
        height: utility.rem(3px);
      }

      &::before {
        margin-top: utility.rem(-8px);
      }

      &::after {
        margin-top: utility.rem(8px);
      }
    }

    &:hover {
      span,
      span::before,
      span::after {
        background-color: foundation.$color-black;
      }
    }
  }

  &--active {
    .header-nav__nav {
      display: flex;
    }

    .header-nav__trigger {
      span {
        background-color: transparent;
        cursor: pointer;

        &::before,
        &::after {
          margin-top: 0;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }
    }
  }
}