@use 'ma:utility';
@use 'ma:foundation';

.items-basic-grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 4rem;
  row-gap: 2rem;

  @include foundation.layout-breakpoint(b-2) {
    grid-template-columns: 1fr 1fr;
  }

  @include foundation.layout-breakpoint(b-4) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include foundation.layout-breakpoint(b-6) {
    column-gap: 8.5rem;
  }
}