@use 'ma:utility';
@use 'ma:foundation';

.home-hero {
  margin-top: -106px;
  position: relative;
  color: foundation.$color-white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100vh;
  min-height: 40rem;

  @include foundation.layout-breakpoint(b-3) {
    margin-top: -127px;
  }

  &__image-container {
    @include utility.z-layer(layer-1);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: foundation.neutral(400);
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.75 !important;
    mix-blend-mode: multiply;
    filter: grayscale(100%);
  }

  &__content {
    @include utility.z-layer(layer-1, 2);
    position: relative;
    padding-bottom: 4.5rem;
    width: 100%;

    @include foundation.layout-breakpoint(b-3) {
      padding-bottom: 8.5rem;
    }
  }

  &__overline {
    font-size: utility.rem(24px);
    margin-bottom: 0.75rem;
  }

  &__description {
    font-size: utility.rem(18px);
    max-width: utility.rem(785px);
    margin-bottom: 0;
  }

  &__cta-button {
    margin-top: 3rem;
  }

  &::after {
    @include utility.z-layer(layer-1, 1);
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, rgba(50, 50, 50, 0.00) 0%, rgba(50, 50, 50, 0.65) 100%);
  }
}
