@use 'ma:foundation';

%content-container {
  padding: 0 foundation.layout-spacing(s-2);
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;

  @include foundation.layout-breakpoint(b-3) {
    padding: 0 foundation.layout-spacing(s-3);
  }
}
