$layers: (
  // background layer
  layer-0: 0,
  // main content background/images
  layer-1: 25,
  // mobile sidebar navigation
  layer-2: 50,
  // header
  layer-3: 75,
  // modals
  layer-4: 100
) !default;

// Sets the z-index to a range defined in $layers.
// $adjust arguement allows you to make slight adjustments to the index, within a reasonable range.
@mixin z-layer($layer: 0, $adjust: 0) {
  $value: type-of($layer);

  @if $value == string {
    @if map-has-key($layers, $layer) {
      @if abs($adjust) >= 25 {
        @warn 'An ajustment of #{$adjust} is outside of the range of #{$layer}. Place it into a different layer.';
      }
      z-index: #{map-get($layers, $layer) + $adjust};
    } @else {
      @warn ''#{$layer} is not a set layer variable'';
    }
  }
}
