@use 'ma:utility';
@use 'ma:foundation';
@use './fonts';

body {
  font-family: foundation.$font-family-body;
  color: foundation.$color-black;
  font-size: 1rem;
  line-height: 1.2;
}

h1,
.h1,
%h1,
h2,
.h2,
%h2,
h3,
.h3,
%h3 {
  font-family: foundation.$font-family-heading;
  font-weight: foundation.$font-weight-extra-bold;
  letter-spacing: -1px;
}

h1,
.h1,
%h1 {
  font-size: utility.rem(48px);
  line-height: 1.2;
  margin: 0 0 utility.rem(8px);

  @include foundation.layout-breakpoint(b-3) {
    font-size: utility.rem(64px);
    margin: 0 0 utility.rem(20px);
  }
}

h2,
.h2,
%h2 {
  font-size: utility.rem(36px);
  line-height: 1.2;
  margin: 0 0 utility.rem(28px);

  @include foundation.layout-breakpoint(b-3) {
    font-size: utility.rem(48px);
    margin: 0 0 utility.rem(40px);
  }
}

h3,
.h3,
%h3 {
  font-size: utility.rem(20px);
  line-height: 1.2;
  margin: 0 0 utility.rem(6px);

  @include foundation.layout-breakpoint(b-3) {
    font-size: utility.rem(24px);
    margin: 0 0 utility.rem(6px);
  }
}

p {
  font-size: utility.rem(16px);
  line-height: utility.rem(26px);
  margin: 0 0 utility.rem(24px);
}

a {
  text-decoration-line: none;
  color: foundation.$color-black;
  transition: 0.175s color ease;

  &:hover {
    color: foundation.neutral(900);
  }
}
